/* footer */
footer {
    height: 5rem;
    background-color: rgb(127, 255, 212);
}

footer img {
    height: 45px;
}

/* header */
.mainPng {
    width: 153px;
    height: 153px;
    border: 3px solid;
    border-color: rgb(73, 174, 225);
    border-radius: 15px;
}

.header .mrgbot10 {
    margin-bottom: 10px;
}

.header h1 {
    align-items: center;
}


/* Navigation */
a.nav-link {
    border-bottom: 1px solid white;
}

a.nav-link:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
}




/* Carousel */
.carousel .carousel-inner {
    justify-content: center;
    flex-grow: 1;

}

.carousel .carousel-control-next {
    background-color: rgba(145, 255, 218, 0.161);
    flex-grow: 2;
}

.carousel .carousel-control-prev {
    background-color: rgba(145, 255, 218, 0.161);
    flex-grow: 2;
}

/* .border-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.072);
} */

/* Aboutus section */












/* Order section */
.sector-place {
   padding-bottom: 5px;
    background-color: rgb(194, 215, 223);
}
.sector-place>.h2{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 5px groove rgba(119, 136, 153, 0.186);
}



.sector-place p {
    margin: 0;
}

.sector-place textarea {
    resize: none;
}





/* Order addr-panel */

.addr-panel>div{
    background-color: rgba(255, 255, 255, 0.536);
}
/* ADDR HEAD */
.addr-head{
    padding: 5px;
    border: 2px solid grey;
}

.addr-head .addr-head-action{
    max-width: 80px;
    max-height: 40px;
}


/* ADDR LIST */



.addr-list>div{
    padding: 5px;
    border: 2px solid grey;
    border-top: 0;
   
}
.addr-list .addr-item-type{
    max-width: 150px;
}
.addr-list .addr-item-place{
    max-width: 170px;
}

.addr-list .addr-item-action{
    max-width: 80px;
    max-height: 40px;
}





/* Menu section */

.item {
    background-color: rgb(136, 205, 201);
    max-width: 280px;
    border: 1px solid;
    min-width: 240px;
    margin-bottom: 30px;
    margin: 8px;
}

.item .price-amount {
    width: 28px;

}

.item .sign {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 20px;
    size: 50px;
    color: black;
}

.item .descript {
    font-size: 15px;
}

.amount {
    margin: 0;
    width: 110px;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-color: whitesmoke;
}

.item input {
    align-self: start;
    height: 30px;
    text-align: center;
    background-color: inherit;
    border: 2px solid black;
}

.item input:focus {
    border: 1px solid black;
    border-color: 0;
}


.itemImg {
    height: 90px;
    width: 100px;
    margin: 2px;
}

.sector-menu {
    padding-bottom: 15px;
    background-color: rgb(179, 231, 179);
    
}

.sector-menu>.h2{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 5px groove rgba(119, 136, 153, 0.186);
}

.sector-menu .item .minus .plus {
    color: red;

}

/* Aboutus section */
.sector-aboutus {
    height: 500px;
    background-color: rgb(236, 174, 174);

}
.sector-aboutus>.h2{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 5px groove rgba(119, 136, 153, 0.186);
}





.sector-addition{
    background-color: beige;
    font-size: 20px;
}
.sector-addition .h5{
    font-size: 20px;
}
.sector-addition>.h2{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 5px groove rgba(119, 136, 153, 0.186);
}
